.colourContainer {
  background-color: #f2f2f2;
  padding: 50px;
  text-align: center;
}

.aboutText {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.fakeContainer {
  height: 500px;
  color: white;
}

.contactLink {
  font-size: 20px;
  list-style: none;
  margin-bottom: 20px;
}

.contactText {
  font-weight: bold;
}

.linkText {
  color: #428bca;
  text-decoration: none;
}

.linkText:hover {
  text-decoration: underline;
}
