.colourContainer {
  background-color: #f2f2f2;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 737px) {
  .logoImage { 
    width: 400px;
    height: 100%
  }
}
.aboutText {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 30px;
}

.fakeContainer {
  height: 500px;
  color: white;
}

.contactLink {
  font-size: 20px;
  list-style: none;
  margin-bottom: 20px;
}

.contactText {
  font-weight: bold;
}

.linkText {
  color: #428bca;
  text-decoration: none;
}

.linkText:hover {
  text-decoration: underline;
}

